/* estilos simples */

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.titulo{
  text-align: center;
  margin-bottom: 25px;
}

.bloque{
  margin-bottom: 25px;
  border: 1px solid #999;
  padding: 10px;
}

.malla{
  border: 2px solid #333;
  padding: 10px;
  height: 220px;
}

.caja{
  background: #6d28d9;
  color: white;
  padding: 12px 18px;
}

/* ejercicio 1 */
.m2{
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;
}
.caja2{
  width: 130px;
  height: 90px;
  background: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}

/* ejercicio 2 */
.m3{
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 10px;
  background: red;
}
.lateral{
  background: #ffadad;
  padding: 10px;
}
.principal{
  background: #fdffb6;
  padding: 10px;
}

/* ejercicio 3 */
.m4{
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 10px;
  background: #a0c4ff;
}
.menu{
  background: #fca311;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.menu a{
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 6px 8px;
  border: 1px solid #333;
}
.principal2{
  background: #e5e7eb;
  padding: 10px;
}

/* ejercicio 4 */
.m5{
  display: flex;
  justify-content: center;
  align-items: center;
  background:#e0f2fe;
}
.tarjeta{
  width: 350px;
  border: 2px solid #333;
}
.tarjeta-top{
  background: #2563eb;
  color: white;
  padding: 10px;
  text-align: center;
}
.tarjeta-mid{
  background: #fff;
  padding: 20px;
  height: 90px;
}
.tarjeta-bot{
  background: #94a3b8;
  padding: 10px;
  text-align: center;
}

/* ejercicio 5*/
.m6{
  display: grid;
  grid-template-columns: 1fr 220px;
  gap: 10px;
  background: #fca311;
}
.izq{
  background: #a0c4ff;
  padding: 10px;
}
.der{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.arriba{
  background: #ffffff;
  border: 1px solid #333;
  padding: 10px;
}
.abajo{
  background: #e0f2fe;
  border: 1px solid #333;
  padding: 10px;
}

/* responsive simple */
@media (max-width: 800px){
  .m3, .m4, .m6{
    grid-template-columns: 1fr;
  }
}
